<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>

  <style>
    .btn{
      height: 100px;
    }
  </style>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= htmlWebpackPlugin.tags.title %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/master">Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/client">Client</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body23" class="container">
    <div class="row mx-0 mt-5">
      <div class="col-12 mb-4">
        <div class="fs-2 text-center">CHOOSE YOUR SITE</div>
      </div>
      <blockquote class="d-grid gap-2 col-6 mx-auto">
        
      </blockquote>
    </div>
  </section>


  <!--------------------- FOOTER SECTION --------------------->
  
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  
  <!--------------------- SCRIPT SECTION --------------------->

</body>
</html>