<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body23" class="container my-1">
    <blockquote class="d-flex justify-content-center align-items-center mb-0">
      <div class="card bg-dark">
        
        <form class="form-signin text-primary">
          <div class="card-title text-center my-2">
            <div class="text-light text-uppercase fs-2"><%= htmlWebpackPlugin.tags.title %> <i class="bi bi-calendar-week ps-2"></i></div>
            <div class="text-secondary fs-3">CREATE USER <i class="bi bi-plus-square ps-2"></i></div>
          </div>
        
          <div class="form-label-group mb-2">
            <input type="text" class="form-control" name="fullname" placeholder="Full name" required autofocus>
            <label>Full name</label>
          </div>

          <div class="form-label-group mb-2">
            <input type="email" class="form-control" name="email" placeholder="E-mail" required>
            <label>E-mail</label>
          </div>

          <div class="form-label-group mb-2">
            <input type="text" class="form-control" name="username" placeholder="User name" required>
            <label>Username</label>
          </div>
        
          <div class="form-label-group mb-2">
            <input type="password" class="form-control" name="password" placeholder="password">
            <label>password</label>
          </div>

          <div class="form-label-group mb-2">
            <input type="password" class="form-control" name="password" placeholder="password">
            <label>Confirm password</label>
          </div>

          <button class="btn btn-outline-light btn-block mt-3 w-100" type="submit">
            CREATE NEW USER <i class="bi bi-node-plus-fill ps-1"></i>
          </button>
          <a class="btn btn-outline-info btn-block mt-2 w-100" href="/views/client">
            RETURN <i class="bi bi-arrow-90deg-left ps-1"></i>
          </a>
  
          <div id="spc_alert" class="mt-2"></div>
  
          <p class="mt-3 text-muted text-center m-0">Copyright © 2021. All right reserved. </p>
          <p class="text-muted text-center m-0">
            <a href="https://eadbeel94.web.app" data-toggle="tooltip" 
                data-placement="top" title="Ir al sitio web del desarrollador">
              Designed by ECODE 2021
            </a> 
          </p>
        </form>
  
      </div>
    </blockquote>
  </section>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
</body>
</html>