<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body6" class="container">
    <div class="d-flex align-items-center justify-content-around">
      <div class="text-center">
        <i class="bi bi-person-x-fill"></i>
        <p>NOT</p>
        <p>AUTHORIZED</p>
      </div>
    </div>
  </section>
  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
</body>
</html>