<template id="tmp_modal">
  <div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reservations</h5>
          <button type="button" class="btn btn-outline-light btn-close2 py-0 p-1" data-bs-dismiss="modal"><i class="bi bi-x fs-3"></i></button>
        </div>
        <div class="modal-body">
          mucho texto
        </div>
        <div class="modal-footer oneb d-none">
          <button type="button" class="btn btn-outline-primary w-75" data-bs-dismiss="modal">OK</button>
        </div>
        <div class="modal-footer twob d-none">
          <button type="button" class="btn btn-success">Confirm</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>