
.modal .modal-content{
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.modal .btn-close2{
  width: unset !important;
  border: 0;
}

.modal .modal-title{
  font-family: poppins1;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.modal .modal-body{
  text-align: center;
  font-family: poppins;
  font-size: 18px;
}

.modal .modal-footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal .btn{
  width: 47%;
  border-radius: 0;
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
}


.spinner1 .modal-dialog{
  display: flex;
  width: 100%;
  justify-content: center;
}

.spinner1 .spinner-border{
  font-size: 50px;
  height: 100px;
  width: 100px;
  text-align: center;
  /*color: var(--color1)*/
}

.spinner1 section{
  text-align: center;
  /*background-color: var(--color6);*/
  padding: 2rem;
}

.spinner1 h1{
  margin-top: 2rem;
  font-family: poppins1;
  /*color: var(--color1);*/
  opacity: 0.9;
}


.modal-cookie .modal-dialog{
  max-width: 100%;
}

.modal-cookie .row{
  align-items: flex-end;
  font-family: poppins1;
  font-size: 0.8rem;
}

.modal-cookie section{
  padding: 1rem;
  border-radius: 0;
}

.modal-cookie .btn{
  width: 100%;
}

.modal-cookie .btn-group{
  width: 100%;
}

.modal-cookie .col-md-9{
  text-align: justify;
}