<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body24" class="container">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <blockquote class="swiper-slide pageA">

          <div class="row mx-0" style="min-height: 75vh;">
            <section class="d-grid gap-2 col-lg-6 offset-lg-1 col-sm-10 offset-sm-1 col-12 btns-event">
              <div class="fs-2 text-center mb-4 mt-2"></div>
            </section>
            <div class="offset-lg-1 col-lg-3 my-2">
              <div class="d-flex justify-content-center align-items-center h-100">
                <button class="btn btn-warning" onclick="window.open('/views/history','_self')">
                  <i class="bi bi-list-check"></i>
                  <p>HISTORY</p>  
                </button>
              </div>
            </div>
          </div>

        </blockquote>
        <blockquote class="swiper-slide pageB">

          <div class="row mx-0 mt-2">
            <div class="col-12 mb-2">
              <div class="fs-2 text-center">CHOOSE YOUR SITE</div>
            </div>
            <section class="col-12 mx-auto sites">
            </section>
            <div class="col-8 mt-3 mx-auto">
              <div class="btn-group w-100" role="group">
                <button type="button" class="btn btn-outline-secondary">PREVIOUS</button>
                <button type="button" class="btn btn-outline-primary">NEXT</button>
              </div>
            </div>
          </div>

        </blockquote>
        <blockquote class="swiper-slide pageC">
          <div class="row mx-0 mt-2">
            <div class="col-12 text-center">
              <p class="fs-2 mb-0">RESUME</p>
              <i class="bi bi-star-fill" style="font-size: 5rem;"></i>
              <p class="fs-3">Almost ended, your reservations are:</p>
            </div>
            <section class="col-7 resume mx-auto">
              <ul class="list-group text-center">
                
              </ul>
            </section>
            <div class="col-8 mx-auto">
              <div class="btn-group w-100 py-2" role="group">
                <button type="button" class="btn btn-outline-secondary">PREVIOUS</button>
                <button type="button" class="btn btn-success">CREATE RESERVATION</button>
              </div>
            </div>
          </div>
        </blockquote>
        <blockquote class="swiper-slide pageD">
          <div class="row mx-0 mt-2">
            <div class="col-12 text-center">
              <p class="fs-1 mb-0">CONGRATULATIONS</p>
              <i class="bi bi-emoji-smile" style="font-size: 7rem;"></i>
              <p class="fs-3 mb-1">Your reservations was created successfully</p>
              <p class="fs-2 mb-1">Save this QR code in somewhere safe</p>
            </div>
            <section class="col-12 finally">

            </section>
            <div class="col-6 mx-auto">
              <div class="btn-group w-100" role="group">
                <a class="btn btn-outline-secondary" href="/views/meeting">RETURN</a>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </section>
  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
</body>
</html>