<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body22" class="container">
    <blockquote class="d-flex justify-content-center align-items-center">
      <div class="card p-sm-4 px-sm-5 p-3 bg-dark">
        
        <form class="form-signin text-primary">
          <div class="card-title text-center mb-4 ">
            <div class="text-light text-uppercase fs-2"><%= htmlWebpackPlugin.tags.title %></div>
            <div class="text-secondary fs-3">SIGN IN <i class="bi bi-credit-card-2-front ps-2 fs-2"></i></div>
          </div>
        
          <div class="form-label-group">
            <input id="inp_name" type="text" class="form-control" name="username" placeholder="username" required autofocus>
            <label>username</label>
          </div>
        
          <div class="form-label-group mt-3">
            <input id="inp_pass" type="password" class="form-control" name="password" placeholder="password">
            <label>password</label>
          </div>
          <button class="btn btn-outline-light btn-block mt-3 w-100" type="submit">
            LOG IN <i class="bi bi-box-arrow-in-right"></i>
          </button>
          <a class="btn btn-outline-info btn-block mt-2 w-100" href="/views/create">
            CREATE ACCOUNT <i class="bi bi-person-plus-fill ps-1"></i>
          </a>
  
          <div id="spc_alert" class="mt-2"></div>
  
          <p class="mt-3 text-muted text-center m-0">Copyright © 2021. All right reserved. </p>
          <p class="text-muted text-center m-0">
            <a href="https://eadbeel94.web.app" data-toggle="tooltip" 
            data-placement="top" title="Ir al sitio web del desarrollador">
              Designed by ECODE 2021
            </a> 
          </p>
        </form>
  
      </div>
    </blockquote>
  </section>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
</body>
</html>