<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- PRODUCTS SECTION --------------------->
  <section id="sec_body1" class="container">
    <div class="d-flex align-items-center justify-content-around">
      <button class="fs-1 btn btn-success" onclick="window.open(`/views/master`,`_self`)">
        <i class="bi bi-person-badge"></i>
        <p>MASTER</p>  
      </button>
      <button class="fs-1 btn btn-info" onclick="window.open(`/views/client`,`_self`)">
        <i class="bi bi-people-fill"></i>
        <p>CLIENTS</p>  
      </button>
    </div>
  </section>
  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
</body>
</html>