#sec_body11{
  min-height: calc( 100vh - 115px );
}

#sec_body11 span{
  font-family: righte1;
  font-weight: 100;
}

#sec_body11{
  font-family: poppins1;
}

#modals .modal-body > div > div:nth-child(5) i.bi{
  font-size: 2.5rem;
  width: calc(100%/2);
  text-align: center;
}